<div class="d-flex justify-content-between align-items-center header w-100">
    <div class="d-flex align-items-center justify-content-start px-3 py-1 col-6">
        <button class="no-shadow mr-1 header-icon" matMiniFab (click)="navigateHome()" matTooltip="Strona główna">
            <mat-icon svgIcon="network_intel_node"></mat-icon>
        </button>
        <button *ngIf="showReturnButton && !(isMobile$ | async)" class="no-shadow mx-1 return-btn header-icon"
            matMiniFab (click)="goBack()" matTooltip="Powrót">
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <h5 class="header-title mx-2 mb-0" *ngIf="!(isMobile$ | async) || !headerSubpageTitle">
            CrmApp</h5>
        <h5 class="header-title px-2 mb-0" [class.border-left]="!(isMobile$ | async)" *ngIf="headerSubpageTitle">
            {{headerSubpageTitle}}</h5>
        <ng-container *ngIf="focusLabel">
            <mat-icon class="focus-sep mx-1">chevron_right</mat-icon>
            <h5 class="header-title header-focus mb-0 mx-1" [title]="focusLabel">{{ focusLabel }}</h5>
        </ng-container>
    </div>
    <div class="d-flex align-items-center justify-content-end px-2 py-1 col-6">
        <ng-container *ngIf="template; else noActions" [ngTemplateOutlet]="template.templateRef">
        </ng-container>
        <ng-template #noActions></ng-template>
        <crm-theme-toggle *ngIf="(isMobile$ | async) !== true" [appearance]="'standard'" class="mx-3"></crm-theme-toggle>
        <button matMiniFab class="no-shadow mx-2 header-icon" [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="account_circle"></mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="user-menu px-1">
            <button *ngIf="(isMobile$ | async) === true" mat-menu-item (click)="$event.stopPropagation()">
                <crm-theme-toggle [appearance]="'legacy'" class="mx-3"></crm-theme-toggle>
            </button>
            <ng-container *ngIf="loggedUserDisplayName.length">
                <button mat-menu-item disabled class="menu-section-title logged-user">
                    <mat-icon svgIcon="account_circle"></mat-icon>
                    {{ loggedUserDisplayName }}
                </button>
                <mat-divider></mat-divider>
            </ng-container>

            <button mat-menu-item [matMenuTriggerFor]="crmMenu" class="menu-btn section-trigger">
                <mat-icon svgIcon="productivity" class="svg-align-middle"></mat-icon>
                <span>CRM</span>
                <span class="spacer"></span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="businessMenu" class="menu-btn section-trigger"
                *ngIf="canContractorsView || canSystemConfig">
                <mat-icon svgIcon="person_card"></mat-icon>
                <span>Dane biznesowe</span>
                <span class="spacer"></span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="adminMenu" class="menu-btn section-trigger"
                *ngIf="canUsersView || canSystemConfig">
                <mat-icon svgIcon="admin_panel"></mat-icon>
                <span>Zarządzanie</span>
                <span class="spacer"></span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="accountMenu" class="menu-btn section-trigger" *ngIf="userId">
                <mat-icon svgIcon="account_circle"></mat-icon>
                <span>Twoje konto</span>
                <span class="spacer"></span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item class="menu-btn logout-btn" (click)="logout()">
                <mat-icon svgIcon="logout"></mat-icon>
                <span>Wyloguj</span>
            </button>

        </mat-menu>

        <mat-menu #crmMenu="matMenu" class="user-menu px-1">
            <div class="w-100 d-flex align-items-center mt-1">
                <button mat-menu-item disabled class="menu-section-title">
                    CRM
                </button>
            </div>
            <button mat-menu-item class="menu-btn" (click)="navigateToView('tasks/my')">
                <mat-icon svgIcon="task"></mat-icon>
                <span>Moje zadania</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item class="menu-btn" (click)="navigateToView('tasks/admin')">
                <mat-icon svgIcon="business_center"></mat-icon>
                <span>Panel CRM</span>
            </button>
            <button *ngIf="canProjectsView" mat-menu-item class="menu-btn" (click)="navigateToView('projects')">
                <mat-icon svgIcon="strategy"></mat-icon>
                <span>Projekty</span>
            </button>
        </mat-menu>

        <mat-menu #businessMenu="matMenu" class="user-menu px-1">

            <button mat-menu-item disabled class="menu-section-title">
                Dane biznesowe
            </button>

            <button *ngIf="canContractorsView" mat-menu-item class="menu-btn" (click)="navigateToView('contractors')">
                <mat-icon svgIcon="person_card"></mat-icon>
                <span>Kontrahenci</span>
            </button>

            <button *ngIf="canSystemConfig" mat-menu-item class="menu-btn" (click)="navigateToView('catalog-items')">
                <mat-icon svgIcon="shopping_cart"></mat-icon>
                <span>Produkty i usługi</span>
            </button>

        </mat-menu>

        <mat-menu #adminMenu="matMenu" class="user-menu px-1">

            <button mat-menu-item disabled class="menu-section-title">
                Zarządzanie
            </button>

            <button *ngIf="canUsersView" mat-menu-item class="menu-btn" (click)="navigateToView('users')">
                <mat-icon svgIcon="person_shield"></mat-icon>
                <span>Użytkownicy</span>
            </button>

            <ng-container *ngIf="canSystemConfig">
                <mat-divider></mat-divider>
                <button mat-menu-item disabled class="menu-section-title">
                    Konfiguracja
                </button>

                <button mat-menu-item class="menu-btn" (click)="navigateToView('dictionaries')">
                    <mat-icon svgIcon="book"></mat-icon>
                    <span>Słowniki</span>
                </button>

                <button mat-menu-item class="menu-btn" (click)="navigateToView('lists-config')">
                    <mat-icon svgIcon="table_edit"></mat-icon>
                    <span>Konfiguracja list</span>
                </button>

                <button mat-menu-item class="menu-btn" (click)="navigateToView('settings')">
                    <mat-icon svgIcon="settings"></mat-icon>
                    <span>Ustawienia systemu</span>
                </button>
            </ng-container>

        </mat-menu>

        <mat-menu #accountMenu="matMenu" class="user-menu px-1">

            <button mat-menu-item disabled class="menu-section-title">
                Twoje konto
            </button>

            <button mat-menu-item class="menu-btn" (click)="navigateToUserProfile()">
                <mat-icon svgIcon="account_circle"></mat-icon>
                <span>Profil</span>
            </button>

        </mat-menu>
    </div>
</div>
